@font-face {
  font-family: "molle-italic";
  src: url("../fonts/molle-italic.ttf");
}
@font-face {
  font-family: "mari-font";
  src: url("../fonts/mari-font.ttf");
}
#confetti-canvas {
  position: absolute;
  top: 0;
}
